.container-flex-sucursales{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    p{
        color: aqua;
        display: flex;
        justify-content: center;
        margin-top: 5px;
    }
    
}
.carousel{
    max-width: 650px;
    margin: auto;
    overflow: hidden;
}
.carousel-item h5{
    color: $titulos;
    font-size: 20px;
}
.sedes-titulo{
    @extend .titulos;
}
@media (max-width: 420px){
    footer{
        margin-top: 100px;
    }
}
